include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Создание графических компонентов
    p
        | В этом разделе мы обсуждаем, как вместо «простыни кода» писать объектно-ориентированные 
        | компоненты на JavaScript.
    ul
        li.
            Введение
        li.
            Графические компоненты
        li.
            Вёрстка графических компонентов
        li.
            Шаблонизатор LoDash
        li.
            Коллбэки и события на компонентах
        li.
            Что изучать дальше
    #container13
        p
            h7 Задача 13
        style.
            .slider13 {
                border-radius: 5px;
                background: #E0E0E0;
                background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
                background: linear-gradient(left top, #E0E0E0, #EEEEEE);
                width: 310px;
                height: 15px;
                margin: 5px;
                position: relative;
                left: 300px;
            }

            .thumb13 {
                width: 10px;
                height: 25px;
                border-radius: 3px;
                position: relative;
                top: -5px;
                background: blue;
                cursor: pointer;
            }
        #slider13.slider13
            .thumb13
        #slide
        #change
        input(
            type='button',
            id='btn13',
            value='mySlider13.setValue(50)'
            onclick="mySlider13.setValue(50)"
        )
    #container12
        p
            h7 Задача 12
        style.
            .customselect {
                width: 200px;
                font-size: 14px;
                display: inline-block;
            }
            .customselect .title {
                height: 20px;
                border: 2px groove #ADD8E6;
                background: white;
                width: 200px;
                box-sizing: border-box;
                padding: 2px;
                line-height: 14px;
                cursor: pointer;
                text-align: left;
            }
            .customselect li {
                padding: 2px;
                cursor: pointer;
            }
            .customselect li:nth-child(even) {
                background-color: #f0f8ff;
            }
            .customselect li:hover {
                background-color: #7fffd4;
            }
            .customselect ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: none;
                position: absolute;
                z-index: 1000;
                background: white;
                width: 200px;
                border-bottom: 1px solid #add8e6;
                border-left: 1px solid #add8e6;
                border-right: 1px solid #add8e6;
                box-sizing: border-box;
            }
            .customselect.open ul {
                display: block;
            }
        div
            | Последний результат: 
            span#result ...
        #animal-select.customselect
            button.title Выберите
            ul
                // значение хранится в свойстве data-value
                li(data-value='bird') Птицы
                li(data-value='fish') Рыбы
                li(data-value='animal') Звери
                li(data-value='dino') Динозавры
                li(data-value='simplest') Одноклеточные
        #food-select.customselect
            button.title Выберите
            ul
                li(data-value='carnivore') Плотоядные
                li(data-value='herbivore') Травоядные
                li(data-value='omnivore') Всеядные
    #container11
        p
            h7 Задача 11
        style.
            .selected11 {
                background: #0f0;
            }

            .ul11 li {
                cursor: pointer;
            }
        p
            input(type='button', id='btn11-1', value='1 список')
            input(type='button', id='btn11-2', value='2 список')
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul.ul11#ul11-1
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul.ul11#ul11-2
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
    #container10
        p
            h7 Задача 10 (Голосовалка "на событиях")
        style.
            .voter10 {
                font-family: Consolas, "Lucida Console", monospace;
                font-size: 18px;
            }
            .up10,
            .down10 {
                cursor: pointer;
                color: blue;
                font-weight: bold;
            }
        #voter10-1.voter10
            span.down10 —
            span.vote10 0
            span.up10 +
        #voter10-2.voter10
            span.down10 —
            span.vote10 0
            span.up10 +
    #container9
        p
            h7 Задача 9
        style.
            .menu9 ul {
                display: none;
                margin: 0;
            }
            .menu9 .title {
                font-weight: bold;
                cursor: pointer;
            }
            .menu9 .title:before {
                content: '▶';
                padding-right: 6px;
                color: green;
            }
            .menu9.open ul {
                display: block;
            }
            .menu9.open .title:before {
                content: '▼';
            }
        script(type="text/template" id="menu-template9").
            <div class="menu9">
                <span class="title"><%-title%></span>
            </div>
        script(type="text/template" id="menu-list-template9").
            <ul>
                <% for (var i = 0; i < items.length; i++) { %>
                    <li>
                        <a href="#<%=encodeURIComponent(items[i].href)%>" title="<%=items[i].title%>">
                            <%=items[i].title%>
                        </a>
                    </li>
                <% }; %>
            </ul>
    #container8
        p
            h7 Задача 8
        #grid-holder8
        script(type="text/template" id="grid-template8").
            <table>
                <thead>
                    <tr>
                        <td>Имя</td>
                        <td>Возраст</td>
                    <tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < users.length; i++) { %>
                        <tr>
                            <td><%=users[i].name %></td>
                            <td><%=users[i].age %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
    #container7
        p
            h7 Задача 7 (семантическая вёрстка)
        style.
            .menu7 {
                margin: 0;
                padding: 0;
            }

            .menu7__item {
                list-style: none;
                display: inline-block;
                padding: 6px;
                margin: 0 2px;
                border: 1px solid gray;
                border-radius: 10px;
                cursor: pointer;
                font-size: 90%;
                background: #FFF5EE;
            }

            .menu7__vertical-splitter {
                list-style: none;
                display: inline-block;
            }

            .menu7__vertical-splitter:before {
                content: "|";
            }

            .menu7__item a {
                color: black;
                text-decoration: none;
            }

            .menu7__item a:hover {
                text-decoration: underline;
            }
        ul.menu7
            li.menu7__item
                a(href='#') Главная
            li.menu7__vertical-splitter
            li.menu7__item
                a(href='#') Товары
            li.menu7__item
                a(href='#') Фотографии
            li.menu7__item
                a(href='#') Контакты
    #container6
        p
            h7 Задача 6 (Добавить двойной голос в голосовалку)
        style.
            .voter6 {
                font-family: Consolas, "Lucida Console", monospace;
                font-size: 18px;
            }

            .up6,
            .down6 {
                cursor: pointer;
                color: blue;
                font-weight: bold;
            }
        #voter6-1.voter6
            span.down6 —
            span.vote6 0
            span.up6 +
        #voter6-2.voter6
            span.down6 —
            span.vote6 0
            span.up6 +
    #container5
        p
            h7 Задача 5 (в прототипном)
        style.
            .voter5 {
                font-family: Consolas, "Lucida Console", monospace;
                font-size: 18px;
            }

            .up5,
            .down5 {
                cursor: pointer;
                color: blue;
                font-weight: bold;
            }
        #voter5-1.voter5
            span.down5 —
            span.vote5 0
            span.up5 +
        #voter5-2.voter5
            span.down5 —
            span.vote5 0
            span.up5 +
    #container4
        p
            h7 Задача 4
        style.
            .voter4 {
                font-family: Consolas, "Lucida Console", monospace;
                font-size: 18px;
            }

            .up4,
            .down4 {
                cursor: pointer;
                color: blue;
                font-weight: bold;
            }
        #voter4-1.voter4
            span.down4 —
            span.vote4 0
            span.up4 +
        #voter4-2.voter4
            span.down4 —
            span.vote4 0
            span.up4 +
    #container3
        p
            h7 Задача 3
        style.
            .selected3 {
                background: #0f0;
            }

            .ul3 li {
                cursor: pointer;
            }
        p
            input(type='button', id='btn3-1', value='1 список')
            input(type='button', id='btn3-2', value='2 список')
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul.ul3#ul3-1
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul.ul3#ul3-2
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
    #container2
        p
            h7 Задача 2
        style.
            .slider2 {
                border-radius: 5px;
                background: #E0E0E0;
                background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
                background: linear-gradient(left top, #E0E0E0, #EEEEEE);
                width: 310px;
                height: 15px;
                margin: 5px;
                position: relative;
                left: 300px;
            }

            .thumb2 {
                width: 10px;
                height: 25px;
                border-radius: 3px;
                position: relative;
                top: -5px;
                background: blue;
                cursor: pointer;
            }
        #slider2.slider2
            .thumb2
    #container1
        style.
            .hour1 {
                color: green
            }
            .min1 {
                color: blue
            }
            .sec1 {
                color: red
            }
        p
            h7 Задача 1
        p Создайте компонент «Часы» (Clock).
        #clock1.clock1
            span.hour1 00
            | :
            span.min1 00
            | :
            span.sec1 00
        input(type='button', onclick='pageClock.start()', value='Старт')
        input(type='button', onclick='pageClock.stop()', value='Стоп')
        input(
            type="button",
            onclick="alert()",
            value="alert для проверки корректного возобновления"
        )
script(defer src="./js/lodash.core.js")
script(defer src="./js/widgets.js")
include template/footer